.titleMy {
    margin-top: 5.46vh;
    margin-bottom: 1.89vh;
}
.subtitleMb {
    margin-bottom: 19.73vh;
}
.buttonsBar {
    margin-top: 17.21vh;
    align-items: unset;
    padding-left: 11.944vw;
}