.iconsSize {
    height: 14.27vh;
    width: 9.444vw;
}
.my {
    margin-top: 3.15vh;
    margin-bottom: 1.57vh;
}
.mt {
    margin-top: 3.36vh;
}
.buttonFooter {
    position: absolute;
    bottom: 8.08vh;
    right: 39.306vw;
}